<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bulma.min.css">
    <link rel="icon" href="/assets/favicon.svg">
    <title>{{ .title }}</title>
</head>
<body>
<div class="container is-widescreen">
    <div class="notification is-primary">
       MT LTE Control
    </div>
</div>
<section class="section is-medium">
    <div class="container is-widescreen">
        <h1 class="title">Status</h1>
        <h2 class="subtitle">This show status LTE information in RouterOS.</h2>
        <div class="columns">
            <div class="column">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>Status LTE</p>
                    </div>
                    <div class="message-body">body</div>
                </article>
            </div>
            <div class="column">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>Status SIM</p>
                    </div>
                    <div class="message-body">body</div>
                </article>
            </div>
            <div class="column">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>Status USB</p>
                    </div>
                    <div class="message-body">body</div>
                </article>
            </div>
            <div class="column">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>Version Modem FW</p>
                    </div>
                    <div class="message-body">body</div>
                </article>
            </div>
        </div>

    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <strong>MT LTE Control</strong> by <a target="_blank" href="https://vasilevkirill.ru" title="Я так устал">Васильев Кирилл</a>.
    </div>
</footer>
<script type="application/javascript" src="/assets/jquery-3.4.1.min.js"></script>
<script type="application/javascript" src="/assets/main.js"></script>
</body>
</html>